<h1><%=  @song.name %></h1>
<%= link_to @song.genre.name, genre_path(@song.genre) %>
<%# to pull up the genre_path(id), think @song.genre %>
<%= link_to @song.artist.name, artist_path(@song.artist) %>
<%# to pull up the song.artist(id), @song.artist %>